<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-productStock-edit" th:object="${productStock}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">公司主键ID：</label>
				<div class="col-sm-8">
					<input id="companyId" name="companyId" th:field="*{companyId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品主键ID：</label>
				<div class="col-sm-8">
					<input id="productId" name="productId" th:field="*{productId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品编码：</label>
				<div class="col-sm-8">
					<input id="productCode" name="productCode" th:field="*{productCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品型号：</label>
				<div class="col-sm-8">
					<input id="productModel" name="productModel" th:field="*{productModel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品名称：</label>
				<div class="col-sm-8">
					<input id="productName" name="productName" th:field="*{productName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总库存：</label>
				<div class="col-sm-8">
					<input id="totalNumber" name="totalNumber" th:field="*{totalNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">良品库存：</label>
				<div class="col-sm-8">
					<input id="goodNumber" name="goodNumber" th:field="*{goodNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">不良品库存：</label>
				<div class="col-sm-8">
					<input id="badNumber" name="badNumber" th:field="*{badNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">报废品库存：</label>
				<div class="col-sm-8">
					<input id="scrapNumber" name="scrapNumber" th:field="*{scrapNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">最后一次修改时间：</label>
				<div class="col-sm-8">
					<input id="lastUpdate" name="lastUpdate" th:field="*{lastUpdate}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "erp/productStock";
		$("#form-productStock-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-productStock-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
