<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

<div class="container-div">
    <div class="row">
        <div class="col-sm-12 search-collapse">
            <form id="formId">
                <div class="select-list">
                    <ul>
                        <li>
                            工单号(唯一)：<input type="text" name="workorderNumber"/>
                        </li>
                        <li>
                            选择产线：
                            <select style="width: 200px" name="lineId" id="lineId"
                                    th:with="productionLine=${@productionLine.selectAllProductionLineByCompanyId()}">
                                <option value="">全部</option>
                                <option th:each="line : ${productionLine}" th:text="${line.lineName}"
                                        th:value="${line.Id}"></option>
                            </select>
                        </li>
                        <li>
                            选择产品：
                            <select style="width: 200px" id="productName" name="productName"
                                    th:with="productList=${@product.selectProductAllByCompanyId()}">
                                <option value="">全部</option>
                                <option th:each="pro : ${productList}" th:text="${pro.productName}"
                                        th:value="${pro.productName}"></option>
                            </select>
                        </li>

                        <li>
                            创建者：
                            <select style="width: 200px" id="createBy" name="createBy"
                                    th:with="user=${@user.selectComAllUser()}">
                                <option value="">全部</option>
                                <option th:each="u : ${user}" th:text="${u.userName}" th:value="${u.userName}"></option>
                            </select>
                        </li>
                        <li>
                            责任人：
                            <select style="width: 200px" id="deviceLiable" name="deviceLiable"
                                    th:with="user=${@user.selectComAllUser()}">
                                <option value="">全部</option>
                                <option th:each="u : ${user}" th:text="${u.userName}" th:value="${u.userId}"></option>
                            </select>
                        </li>
                        <li>
                            订单：<input type="text" name="orderCode"/>
                        </li>
                        <li>
                            <!--工单生产状态：<input type="text" name="workorderStatus" />-->
                            工单生产状态：
                            <select style="width: 200px" name="workorderStatus">
                                <option value="">全部</option>
                                <option value="0">未进行</option>
                                <option value="1">进行中</option>
                                <option value="2">已完成</option>
                            </select>
                        </li>
                        <li>
                            <!--工单生产状态：<input type="text" name="workorderStatus" />-->
                            ECN：
                            <select style="width: 200px" name="ecnStatus">
                                <option value="-1">全部</option>
                                <option value="0">无</option>
                                <option value="1">有</option>
                            </select>
                        </li>
                        <li class="select-time">
                            <label>创建时间： </label>
                            <input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
                            <span>-</span>
                            <input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
                        </li>
                        <li>
                            <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i
                                    class="fa fa-search"></i>&nbsp;搜索</a>
                            <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i
                                    class="fa fa-refresh"></i>&nbsp;重置</a>
                        </li>
                    </ul>
                </div>
            </form>
        </div>

        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
            <a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()"
               shiro:hasPermission="device:devWorkOrder:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="device:devWorkOrder:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="device:devWorkOrder:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table" data-mobile-responsive="true"></table>
        </div>
    </div>
</div>
<div th:include="include :: footer"></div>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('device:devWorkOrder:edit')}]];
    var removeFlag = [[${@permission.hasPermi('device:devWorkOrder:remove')}]];
    var workChange = [[${@permission.hasPermi('production:workOrderChange:list')}]];
    var prefix = ctx + "device/devWorkOrder";

    $(function () {
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: "工单",
            search: false,
            showExport: true,
            columns: [{
                checkbox: true
            },
                {
                    field: 'id',
                    title: '',
                    visible: false
                },
                {
                    field: 'workSign',
                    title: '',
                    visible: false
                },
                {
                    field: 'productionLine.lineName',
                    title: '产线名称',
                    sortable: true
                },
                {
                    field: 'orderCode',
                    title: '订单',
                    sortable: true
                },
                {
                    field: 'workorderNumber',
                    title: '工单号(唯一)',
                    sortable: true
                },
                {
                    title: '详情',
                    align: 'center',
                    formatter: function (value, row, index) {
                        return '<a class="btn btn-warning btn-xs" href="javascript:void(0)" onclick="showWorkOrderDetail(\'' + row.id + '\')"><i></i>查看</a> ';
                    }
                },
                {
                    field : 'ecnStatus',
                    title : 'ECN',
                    formatter:function (value, row, index) {
                        if(value == 0){
                            return '<a class="btn btn-default btn-xs" href="#" onclick="ecnView(' + row.id + ')">无</a>';
                        }
                        return '<a class="btn btn-primary btn-xs " href="#" onclick="ecnView(' + row.id + ')">有</a>';;
                    }
                },
                {
                    field: 'productName',
                    title: '产品名称',
                    sortable: true
                },
                {
                    field: 'productionStart',
                    title: '计划开始',
                    sortable: true
                },
                {
                    field: 'startTime',
                    title: '实际开始',
                    sortable: true
                },
                {
                    field: 'productionEnd',
                    title: '计划结束',
                    sortable: true,
                },
                {
                    field: 'endTime',
                    title: '实际结束',
                    sortable: true
                },
                {
                    field: 'productStandardHour',
                    title: '标准工时',
                    sortable: true
                },
                {
                    field: 'workorderStatus',
                    title: '工单生产状态',
                    formatter: function (value, row, index) {
                        if (row.workorderStatus == 0) {
                            return '<span class="label label-success">未进行</span>';
                        }
                        else if (row.workorderStatus == 1) {
                            return '<span class="label label-primary">进行中</span>';
                        }
                        else if (row.workorderStatus == 2) {
                            return '<span class="label label-danger">已完成</span>';
                        }
                    }
                },
                {
                    // field: 'operationStatus',
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        // 工单操作状态判断
                        if (row.operationStatus == 0 || row.operationStatus == 2) {
                            actions.push('<a class="btn btn-warning btn-xs" id="editStatus' + row.id + '" href="javascript:void(0)" onclick="editStatus(\'' + row.id + '\')"><i></i>开始</a> ');
                        } else if (row.operationStatus == 1) {
                            actions.push('<a class="btn btn-primary btn-xs" id="editStatus' + row.id + '" href="javascript:void(0)" onclick="editStatus(\'' + row.id + '\')"><i></i>暂停</a> ');
                        } else if (row.operationStatus == 3) { // 工单结束，按钮不可点击
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" disabled="true"><i></i>结束</a> ');
                        }
                        // 工单结束状态
                        if (row.workorderStatus == 2 || row.workorderStatus == 0) { // 未开始和已经完成的工单完成不可点击
                            actions.push('<a class="btn btn-danger btn-xs" href="javascript:void(0)" disabled="true"><i></i>完成</a> ');
                        } else {
                            actions.push('<a class="btn btn-primary btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="finishWorkerOrder(\'' + row.id + '\')"><i></i>结束</a> ');
                        }
                        return actions.join('');
                    }
                },
                {
                    title: '管理',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        // 工单提交状态 已经提交的工单不可修改和删除
                        if (row.workSign == 0) {  // 工单还未提交可进行修改
                            actions.push('<a class="btn btn-default btn-xs '+ editFlag +'" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i></i>编辑</a> ');
                            actions.push('<a class="btn btn-primary btn-xs" href="javascript:void(0)" onclick="submitWorkOrder(\'' + row.id + '\')"><i></i>提交</a> ');
                        } else if (row.workSign == 1) { // 工单已经提交，不能修改
                            actions.push('<a class="btn btn-default btn-xs '+ editFlag +'" href="javascript:void(0)" disabled="true"><i></i>编辑</a> ');
                            actions.push('<a class="btn btn-success btn-xs" href="javascript:void(0)" disabled="true"><i></i>已提</a> ');
                        }
                        actions.push('<a class="btn btn-warning btn-xs '+workChange+'"  href="javascript:void(0)" onclick="toChange(\'' + row.id + '\')"><i></i>变更</a> ');
                        // 只有生产状态处于未生产的工单才允许删除
                        if (row.workorderStatus == 0) {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i></i>删除</a> ');
                        } else {
                            actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" disabled="true"><i></i>删除</a> ');
                        }
                        return actions.join('');
                    }
                }
            ]
        };
        $.table.init(options);
    });

    /**
     * 跳转到添加页面
     */
    function toAdd() {
        var url = prefix + "/add";
        createMenuItem(url, "新建工单");
    }


    function showWorkOrderDetail(id) {
        var url = prefix + "/showWorkOrderDetail/" + id ;
        // createMenuItem(url,"查看工单明细")
        $.modal.open("", url, 800, 620);
    }

    // 修改开始暂停状态
    function editStatus(id) {
        var x = document.getElementById("editStatus" + id);
        // 通过.innerText获取不同的当前状态类型
        if (x.innerText == "开始") {
            $.modal.confirm("确认开始吗", function () {
                $.ajax({
                    cache: true,
                    type: "POST",
                    dataType: 'json',
                    url: prefix + "/editWorkerOrderById", // 一点击开始，工单数据进行初始化
                    data: {
                        "id": id,
                    },
                    async: false,
                    error: function (request) {
                        $.modal.alertError("系统错误");
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            $.modal.alertWarning("工单已经开始了。。。。");
                            $.table.refresh(); // 重新刷新
                        } else {
                            $.modal.alertError(data.msg);
                        }
                    }
                });
            });
        } else if (x.innerText == "暂停") {
            $.modal.confirm("确认暂停吗", function () {
                $.ajax({
                    cache: true,
                    type: "POST",
                    dataType: 'json',
                    url: prefix + "/editWorkerOrderById",
                    data: {
                        "id": id,
                    },
                    async: false,
                    error: function (request) {
                        $.modal.alertError("系统错误");
                    },
                    success: function (data) {
                        if (data.code == 0) {
                            $.modal.alertWarning("工单已经暂停了。。。。");
                            $.table.refresh();
                        } else {
                            $.modal.alertError(data.msg);
                        }
                    }
                });
            });
        }
    }

    /**
     * 工单提交操作，提交的工单不可修改和删除
     * @param id
     */
    function submitWorkOrder(id) {
        $.modal.confirm("提交工单不可进行修改删除，确认执行该操作吗？", function () {
            // $.modal.alertWarning("工单已经提交了。。。。");
            $.ajax({
                type: 'POST',
                url: prefix + '/submitWorkOrder',
                dataType: 'json',
                data: {
                    id: id
                },
                async: false,  //同步请求，
                success: function (result) {
                    if (result.code == 0) {
                        $.modal.alertWarning("工单已经提交了");
                        $.table.refresh();
                    } else {
                        $.modal.alertError(result.msg);
                    }
                }
            });
        });
    }

    /**
     * 工单完成操作，点击完成工单可进行修改
     * @param id
     */
    function finishWorkerOrder(id) {
        $.modal.confirm("结束工单可进行修改，确认执行该操作吗？", function () {

            $.ajax({
                type: 'POST',
                url: prefix + '/finishWorkerOrder',
                dataType: 'json',
                data: {
                    id: id
                },
                async: false,  //同步请求，
                success: function (result) {
                    if (result.code == 0) {
                        $.modal.alertWarning("工单已经结束了");
                        $.table.refresh();
                    } else {
                        $.modal.alertError(result.msg);
                    }
                }
            });
        });
    }

    /**
     * 工单变更
     * @param id
     */
    function toChange(id) {
        createMenuItem("/production/workOrderChange?order_id="+id,"工单变更")
    }

    /**
     * 查询工单ecn
     * @param id
     */
    function ecnView(id) {
        $.modal.open("ECN详情",prefix+"/workecn?workId="+id,800,400)
    }
</script>
</body>
</html>