<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<link th:href="@{/ajax/libs/layer/laydate/laydate.css}" rel="stylesheet"/>
<body class="white-bg">
<style type="text/css">
    #purchase-detail .ibox{
        margin-bottom: 0px;
    }
    #purchase-detail .ibox-content{
        padding: 4px 20px;
    }

</style>
<div class="wrapper wrapper-content animated fadeInRight ibox-content" th:object="${lineIntoStock}">
    <div class="row select-table" id="purchase-detail">
        <div class="col-sm-2"></div>
        <div class="col-sm-8 ">
            <div id='printdivaa'>
                <div style="text-align: center;"><h2 th:utext="${company != null and company.comName != null ? company.comName  :'请设置公司名称'}"></h2></div>
                <div style="text-align: center;margin-top: 40px;"><h4>生产入库</h4></div>
                <div style="width: 100%;padding:5px 20px">
                    <div style="float: left;width: 50%;">
                        <ul>
                            <li style="margin-bottom: 6px;">产线名：<span th:utext="${lineIntoStock.lineName}"></span></li>
                        </ul>
                    </div>
                    <div style="float: left;width: 50%;">
                        <ul>
                            <li style="margin-bottom: 6px;">入库单号：<span th:utext="${lineIntoStock.intoCode}"></span></li>
                        </ul>
                    </div>
                </div>
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span style="font-weight: bold;">生产入库明细：</span>
                    </div>
                    <div>
                        <table class="table table-striped table-bordered table-hover " id="add-order-table">
                            <thead>
                            <tr>
                                <th>入库类型</th>
                                <th>编码信息</th>
                                <th>工单号</th>
                                <th>工单总数量</th>
                                <th>已入库数量</th>
                                <th>型号信息</th>
                                <th>名称信息</th>
                                <th>本次入库数量</th>
                            </tr>
                            </thead>
                            <tbody id="add-order-table-body">
                            <tr th:if="${not #lists.isEmpty(lineIntoStock.lineIntoStockDetails)}" th:each="detail:${lineIntoStock.lineIntoStockDetails}">
                                <td th:utext="${detail.intoType==0?'成品入库':'半成品入库'}"></td>
                                <td th:utext="${detail.detIntoCode}"></td>
                                <td th:utext="${detail.workOrder == null ? '--':detail.workOrder.workorderNumber}"></td>
                                <td th:utext="${detail.workOrder == null ? '--':detail.workOrder.productNumber}"></td>
                                <td th:utext="${detail.workOrder == null ? '--':detail.workOrder.actualWarehouseNum}"></td>
                                <td th:utext="${detail.detIntoModel}"></td>
                                <td th:utext="${detail.detIntoName}"></td>
                                <td th:utext="${detail.detIntoNum}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div style="padding: 5px 20px">
                    <div style="float: left;width: 50%;">
                        <ul>
                            <li>车间负责人：</li><p></p>
                            <li>签字时间：</li>
                        </ul>
                    </div>
                    <div style="float: left;width: 50%;">
                        <ul>
                            <li>仓库负责人：</li><p></p>
                            <li>签收时间：</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div style="clear: both"></div>
            <div style="margin-top: 20px;text-align: center">&nbsp;&nbsp;<a
                    class="btn btn-success btn-xl " href="#" onclick="dayin()"><i class="fa fa-file-code-o"></i>打印</a></div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
<div th:include="include::footer"></div>
<script th:src="@{/ajax/libs/layer/laydate/laydate.js}"></script>
<script th:inline="javascript">
    function dayin(){
        var userAgent = navigator.userAgent.toLowerCase(); //取得浏览器的userAgent字符串
        if (userAgent.indexOf("trident") > -1){
            alert("请使用google或者360浏览器打印");
            return false;
        }else if(userAgent.indexOf('msie')>-1){
            var onlyChoseAlert = simpleAlert({
                "content":"请使用Google或者360浏览器打印",
                "buttons":{
                    "确定":function () {
                        onlyChoseAlert.close();
                    }
                }
            })
            alert("请使用google或者360浏览器打印");
            return false;
        }else{//其它浏览器使用lodop
            var oldstr = document.body.innerHTML;
            var headstr = "<html><head><title></title></head><body>";
            var footstr = "</body>";
            //此处id换为你自己的id
            var printData = document.getElementById("printdivaa").innerHTML; //获得 div 里的所有 html 数据
            document.body.innerHTML = headstr+printData+footstr;
            window.print();
            document.body.innerHTML = oldstr;
        }
    }

    // 点击确认按钮关闭当前窗体刷新父窗体
    function submitHandler() {
        $.modal.close();
        window.parent.$.table.refresh();
    }
</script>
</body>
</html>
