<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">

	<div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="post-form">
					<div class="select-list">
						<ul>
							<li>
								姓名：<input type="text" name="postCode"/>
							</li>
							<li>
								工单：<input type="text" name="postName"/>
							</li>
							<li>
								产品编码：<input type="text" name="postName"/>
							</li>
							<li>
								工单状态：<select name="status" th:with="type=${@dict.getType('sys_normal_disable')}">
								<option value="">所有</option>
								<option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}"></option>
							</select>
							</li>
							<li class="select-time">
								<label>时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
							    <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
			<div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="system:post:edit">
		            <i class="fa fa-edit"></i> 修改
		        </a>
				<a class="btn btn-danger btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:post:remove">
		            <i class="fa fa-remove"></i> 删除
		        </a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:post:export">
		            <i class="fa fa-download"></i> 导出
		        </a>
	        </div>
	        
	        <div class="col-sm-12 select-table table-striped">
			    <table id="bootstrap-table" data-mobile-responsive="true"></table>
				<div class="ibox float-e-margins">
					<div class="ibox-title">
						<h5>图表展示</h5>
					</div>
					<div class="ibox-content ">
						<div class="echarts" id="echarts-line-chart"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:include="include :: footer"></div>
	<!--<script th:src="@{/js/plugins/echarts/echarts-all.js}"></script>-->
	<script th:src="@{/js/plugins/echarts/echarts.js}"></script>
	<script th:src="@{/js/work/echarts-demo.js}"></script>
	<script th:inline="javascript">
		var editFlag = [[${@permission.hasPermi('system:post:edit')}]];
		var removeFlag = [[${@permission.hasPermi('system:post:remove')}]];
		var datas = [[${@dict.getType('sys_normal_disable')}]];
		var prefix = ctx + "system/post";

		$(function() {
		    var options = {
		        url: prefix + "/list",
		        updateUrl: prefix + "/edit/{id}",
		        removeUrl: prefix + "/remove",
		        exportUrl: prefix + "/export",
		        sortName: "postSort",
		        modalName: "岗位",
		        search: false,
		        showExport: false,
		        columns: [{
		            checkbox: true
		        },
		        {
		            field: 'postId',
		            title: '姓名'
		        },
		        {
		            field: 'postCode',
		            title: '工单号',
		            sortable: true
		        },
		        {
		            field: 'postName',
		            title: '产品编码',
		            sortable: true
		        },
		        {
		            field: 'postSort',
		            title: '产品名称',
		            sortable: true
		        },
		        {
		            field: 'status',
		            title: '状态',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	return $.table.selectDictLabel(datas, value);
		            }
		        },
		        {
		            field: 'createTime',
		            title: '责任人',
		            sortable: true
		        },
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		                var actions = [];
		                actions.push('<a id="editStatus'+row.postId +'" class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="editStatus(\'' + row.postId + '\')"><i class="fa fa-edit"></i>开始</a> ');
		                actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="finishWork(\'' + row.postId + '\')"><i class="fa fa-remove"></i>完成</a>');
		                return actions.join('');
		            }
		        }]
		    };
		    $.table.init(options);
		});
		// 修改开始暂停状态
		function editStatus(id) {
            var x = document.getElementById("editStatus" + id);
            // 通过.innerText获取不同的当前状态类型
            if (x.innerText == "开始") {
                $.modal.confirm("确认开始吗", function () {
                    $.modal.alertWarning("工单已经开始了。。。。");
                    $("a#editStatus" + id).prop('lastChild').nodeValue = '暂停';
                });
            } else if (x.innerText == "暂停") {
                $.modal.confirm("确认暂停吗", function () {
                    $.modal.alertWarning("工单已经暂停了。。。。");
                    $("a#editStatus" + id).prop('lastChild').nodeValue = '开始';
                });
            }
        }
        // 工单完成上报处理
		function finishWork(id) {
            $.modal.confirm("数据上报后不可修改，确认上报吗？", function () {
                $.modal.alertWarning("工单已经上报了。。。。");
            });
        }
	</script>
</body>
</html>