<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								公司名称：<input type="text" name="comName"/>
							</li>

							<li>
								公司地址：<input type="text" name="comAddress"/>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="add()" shiro:hasPermission="device:devCompany:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="$.operate.edit()" shiro:hasPermission="device:devCompany:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="device:devCompany:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="device:devCompany:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('device:devCompany:edit')}]];
        var removeFlag = [[${@permission.hasPermi('device:devCompany:remove')}]];
        var prefix = ctx + "device/devCompany";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "公司",
				sortName: "createTime",
				sortOrder: "desc",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'companyId',
					title : '编号',
					sortable: true
				},
				{
					field : 'comLogo',
					title : '公司Logo',
					formatter:function (value, row, index) {
						if(value){
							return '<img src="'+value+'" width="100" height="50" />'
						}
						return "-";
					}
				},
				{
					field : 'comName', 
					title : '公司名称',
					sortable: true
				},
				// {
				// 	field : 'comPeople',
				// 	title : '公司负责人',
				// 	sortable: true
				// },
				// {
				// 	field : 'comTelephone',
				// 	title : '公司电话',
				// 	sortable: true
				// },
				// {
				// 	field : 'comPhoneNumb',
				// 	title : '负责人手机号',
				// 	sortable: true
				// },
				// {
				// 	field : 'comDescribe',
				// 	title : '公司描述',
				// 	sortable: true
				// },
				{
					field : 'comAddress',
					title : '公司地址',
					sortable: true
				},
				{
					field : 'createTime',
					title : '创建时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="edit(\'' + row.companyId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.companyId + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });

		/**
		 * 添加公司
		 */
		function add() {
			$.modal.open("添加公司",prefix+"/add",800,300);
		}

		/**
		 * 修改公司
		 * @param id
		 */
		function edit(id) {
			var  url = prefix +"/edit/{id}";
			if ($.common.isNotEmpty(id)) {
				url = $.table._option.updateUrl.replace("{id}", id);
			} else {
				var id = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
				if (id.length == 0) {
					$.modal.alertWarning("请至少选择一条记录");
					return;
				}
				url = $.table._option.updateUrl.replace("{id}", id);
			}
			$.modal.open("修改公司",url,800,300);
		}
    </script>
</body>
</html>