<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
    
     <div class="container-div">
		<div class="row">
			<div class="col-sm-12 search-collapse">
				<form id="formId">
					<div class="select-list">
						<ul>
							<li>
								生产线名称：<input type="text" name="lineName"/>
							</li>
							<li th:if="${@product.isSys()}">
								所属公司：<select name="companyId" th:with="Company=${@devCompany.selectDevCompanyAll()}">
								<option value="-1">所有</option>
								<option th:each="com : ${Company}" th:text="${com.comName}" th:value="${com.companyId}"></option>
							</select>
							</li>
							<li class="select-time">
								<label>创建时间： </label>
								<input type="text" class="time-input" id="startTime" placeholder="开始时间" name="params[beginTime]"/>
								<span>-</span>
								<input type="text" class="time-input" id="endTime" placeholder="结束时间" name="params[endTime]"/>
							</li>
							<li>
								<a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
								<a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
							</li>
						</ul>
					</div>
				</form>
			</div>
			
	        <div class="btn-group-sm hidden-xs" id="toolbar" role="group">
				<a class="btn btn-success" onclick="add()" shiro:hasPermission="production:productionLine:add">
					<i class="fa fa-plus"></i> 添加
				</a>
				<a class="btn btn-primary btn-edit disabled" onclick="edit()" shiro:hasPermission="production:productionLine:edit">
					<i class="fa fa-edit"></i> 修改
				</a>
				<a class="btn btn-danger btn-del btn-del disabled" onclick="$.operate.removeAll()" shiro:hasPermission="production:productionLine:remove">
					<i class="fa fa-remove"></i> 删除
				</a>
				<a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="production:productionLine:export">
						<i class="fa fa-download"></i> 导出
				 </a>
			</div>
			<div class="col-sm-12 select-table table-striped">
				<table id="bootstrap-table" data-mobile-responsive="true"></table>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var live = [[${@permission.hasPermi('production:productionLine:live')}]];
        var custom = [[${@permission.hasPermi('production:productionLine:custom')}]];
        var devconfig = [[${@permission.hasPermi('production:productionLine:devconfig')}]];
        var editFlag = [[${@permission.hasPermi('production:productionLine:edit')}]];
        var removeFlag = [[${@permission.hasPermi('production:productionLine:remove')}]];
        var prefix = ctx + "production/productionLine";
        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
				exportUrl: prefix + "/export",
                modalName: "生产线",
				search: false,
		        showExport: true,
                columns: [{
		            checkbox: true
		        },
				{
					field : 'id', 
					title : '',
					visible: false
				},
				{
					field : 'lineName', 
					title : '产线名称',
					sortable: true,
					formatter:function (value, row, index) {
						var uid = [[${@user.getSysUser()}]];
						if(uid && uid.userId && live ==""){
							if(row.deviceLiable && uid.userId == row.deviceLiable){
								return '<a class="btn btn-success btn-xs " href="#" onclick="liveStatus(\'' + row.id + '\')">'+value+'</a> '
							}else if(row.deviceLiableTow && uid.userId == row.deviceLiableTow){
								return '<a class="btn btn-success btn-xs " href="#" onclick="liveStatus(\'' + row.id + '\')">'+value+'</a> '
							}else {
								return value;
							}
						}else{
							return value;
						}
					}
				},
				{
					field : 'deviceLiable', 
					title : '责任人1',
					sortable: true,
					formatter:function (value, row, index) {
						if(row.deviceLiableName)return row.deviceLiableName;
						return "-"
					}
				},
					{
						field : 'deviceLiable1',
						title : '责任人2',
						sortable: true,
						formatter:function (value, row, index) {
							if(row.deviceLiableTowName)return row.deviceLiableTowName;
							return "-"
						}
					},
				{
					field : 'companyId',
					title : '所属公司',
					sortable: true,
					formatter:function (value, row, index) {
						if(row.comName) return row.comName;
						return "-";
					}
				},
				{
					field : 'manual',
					title : '手动',
					sortable: true,
					formatter:function (value, row, index) {
						if(row.manual ==  1) return '是';
						return "否";
					}
				},
				{
					field : 'remark', 
					title : '备注信息',
					sortable: true
				},
				{
					field : 'createBy',
					title : '创建者',
					sortable: true,
					formatter:function (value, row, index) {
						if(row.createName)return row.createName;
						return "-";
					}
				},
				{
					field : 'createTime', 
					title : '创建时间',
					sortable: true
				},
		        {
		            title: '操作',
		            align: 'center',
		            formatter: function(value, row, index) {
		            	var actions = [];
						actions.push('<a class="btn btn-success btn-xs ' + devconfig + '" href="#" onclick="config(\'' + row.id + '\')"><i class="fa fa-edit"></i>硬件绑定</a> ');
		            	actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="#" onclick="edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
						actions.push('<a class="btn btn-xs  btn-primary ' + custom + '" href="#" onclick="customParam(\'' + row.id + '\')">自定义数据</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="#" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
						return actions.join('');
		            }
		        }]
            };
            $.table.init(options);
        });
        /** 添加生产线 */
        function add() {
			$.modal.open("添加产线",prefix+"/add",800,480);
		}
		/** 编辑产线 */
		function edit(id) {
			var url = prefix+"/edit/{id}";
			if ($.common.isNotEmpty(id)) {
				url = $.table._option.updateUrl.replace("{id}", id);
			} else {
				var id = $.common.isEmpty($.table._option.uniqueId) ? $.table.selectFirstColumns() : $.table.selectColumns($.table._option.uniqueId);
				if (id.length == 0) {
					$.modal.alertWarning("请至少选择一条记录");
					return;
				}
				url = $.table._option.updateUrl.replace("{id}", id);
			}
			$.modal.open("修改产线",url,800,480);
		}

		function config(id) {
			var url = prefix+"/devcnfig/"+id;
			createMenuItem(url, "硬件绑定");
		}

		/**
		 * 自定义数据
		 */
		function customParam(id) {
			var url = prefix +'/custom/'+id;
			$.modal.open("自定义数据",url,450,450)
		}

		/**
		 * 跳转到产线实况页面
		 * @param id
		 */
		function liveStatus(id) {
			var url = prefix+"/live/"+id;
			createMenuItem(url,'产线实况')
		}
    </script>
</body>
</html>