<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-devNotice-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">通知内容：</label>
				<div class="col-sm-8">
					<textarea id="noticeContent" name="noticeContent" rows="4" class="form-control" type="text"></textarea>
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "device/devNotice"
		$("#form-devNotice-add").validate({
			rules:{
                deviceLiable:{
					required:true,
				},
                noticeContent:{
                    required:true,
                },
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-devNotice-add').serialize());
	        }
	    }
	</script>
</body>
</html>
