<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-lineIntoStockDetails-add">
			<div class="form-group">	
				<label class="col-sm-3 control-label">产线入库主键ID：</label>
				<div class="col-sm-8">
					<input id="lineIntoId" name="lineIntoId" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品/半成品编码：</label>
				<div class="col-sm-8">
					<input id="detIntoCode" name="detIntoCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品/半成品型号：</label>
				<div class="col-sm-8">
					<input id="detIntoModel" name="detIntoModel" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品/半成品名称：</label>
				<div class="col-sm-8">
					<input id="detIntoName" name="detIntoName" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入库数量：</label>
				<div class="col-sm-8">
					<input id="detIntoNum" name="detIntoNum" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入库编码：</label>
				<div class="col-sm-8">
					<input id="intoCode" name="intoCode" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" class="form-control" type="text">
				</div>
			</div>
		</form>
	</div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "erp/lineIntoStockDetails"
		$("#form-lineIntoStockDetails-add").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/add", $('#form-lineIntoStockDetails-add').serialize());
	        }
	    }
	</script>
</body>
</html>
