<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.erp.lineIntoStock.mapper.LineIntoStockMapper">

    <resultMap type="LineIntoStock" id="LineIntoStockResult">
        <result property="id" column="id"/>
        <result property="companyId" column="company_id"/>
        <result property="intoType" column="into_type"/>
        <result property="lineName" column="line_name"/>
        <result property="intoCode" column="into_code"/>
        <result property="actualTime" column="actual_time"/>
        <result property="remark" column="remark"/>
        <result property="createId" column="create_id"/>
        <result property="createName" column="create_name"/>
        <result property="createTime" column="create_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <sql id="selectLineIntoStockVo">
        select id, company_id, into_type, line_name, into_code, actual_time, remark, create_id, create_name, create_time,del_flag from tab_line_into_stock
    </sql>

    <select id="selectLineIntoStockList" parameterType="LineIntoStock" resultMap="LineIntoStockResult">
        <include refid="selectLineIntoStockVo"/>
        <where>
            del_flag = '0'
            <if test="id != null ">and id = #{id}</if>
            <if test="companyId != null ">and company_id = #{companyId}</if>
            <if test="intoType != null ">and into_type = #{intoType}</if>
            <if test="lineName != null  and lineName != '' ">and line_name = #{lineName}</if>
            <if test="intoCode != null  and intoCode != '' ">and into_code = #{intoCode}</if>
            <if test="actualTime != null ">and actual_time = #{actualTime}</if>
            <if test="remark != null  and remark != '' ">and remark = #{remark}</if>
            <if test="createId != null ">and create_id = #{createId}</if>
            <if test="createName != null  and createName != '' ">and create_name = #{createName}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
        </where>
    </select>

    <select id="selectLineIntoStockById" parameterType="Integer" resultMap="LineIntoStockResult">
        <include refid="selectLineIntoStockVo"/>
        where del_flag = '0' and id = #{id}
    </select>

    <insert id="insertLineIntoStock" parameterType="LineIntoStock" useGeneratedKeys="true" keyProperty="id">
        insert into tab_line_into_stock
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="companyId != null  ">company_id,</if>
            <if test="intoType != null  ">into_type,</if>
            <if test="lineName != null  and lineName != ''  ">line_name,</if>
            <if test="intoCode != null  and intoCode != ''  ">into_code,</if>
            <if test="actualTime != null  ">actual_time,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
            <if test="createId != null  ">create_id,</if>
            <if test="createName != null  and createName != ''  ">create_name,</if>
            <if test="createTime != null  ">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="companyId != null  ">#{companyId},</if>
            <if test="intoType != null  ">#{intoType},</if>
            <if test="lineName != null  and lineName != ''  ">#{lineName},</if>
            <if test="intoCode != null  and intoCode != ''  ">#{intoCode},</if>
            <if test="actualTime != null  ">#{actualTime},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
            <if test="createId != null  ">#{createId},</if>
            <if test="createName != null  and createName != ''  ">#{createName},</if>
            <if test="createTime != null  ">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateLineIntoStock" parameterType="LineIntoStock">
        update tab_line_into_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="intoType != null  ">into_type = #{intoType},</if>
            <if test="lineName != null  and lineName != ''  ">line_name = #{lineName},</if>
            <if test="intoCode != null  and intoCode != ''  ">into_code = #{intoCode},</if>
            <if test="actualTime != null  ">actual_time = #{actualTime},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="createName != null  and createName != ''  ">create_name = #{createName},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="delFlag != null  ">del_flag = #{delFlag},</if>
        </trim>
        where id = #{id}
    </update>

    <!--作废生产入库单-->
    <delete id="deleteLineIntoStockById" parameterType="Integer">
        UPDATE tab_line_into_stock set del_flag = '1' where id = #{id}
    </delete>

    <delete id="deleteLineIntoStockByIds" parameterType="String">
        delete from tab_line_into_stock where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过入库单查询产品入库信息-->
    <select id="selectLineIntoStockByCode" resultMap="LineIntoStockResult">
        <include refid="selectLineIntoStockVo"/>
        where del_flag = '0' and company_id = #{companyId} and into_code = #{intoCode}
    </select>
</mapper>