<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.erp.materielStockHandleDetails.mapper.MaterielStockHandleDetailsMapper">
    
    <resultMap type="MaterielStockHandleDetails" id="MaterielStockHandleDetailsResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="materielId"    column="materiel_id"    />
        <result property="materielCode"    column="materiel_code"    />
        <result property="materielModel"    column="materiel_model"    />
        <result property="materielName"    column="materiel_name"    />
        <result property="handleType"    column="handle_type"    />
        <result property="handleStatus"    column="handle_status"    />
        <result property="temporaryStatus"    column="temporary_status"    />
        <result property="purchaseCode"    column="purchase_code"    />
        <result property="handleNumber"    column="handle_number"    />
        <result property="handleBy"    column="handle_by"    />
        <result property="handleName"    column="handle_name"    />
        <result property="actualTime"    column="actual_time"    />
        <result property="handleTime"    column="handle_time"    />
    </resultMap>
	
	<sql id="selectMaterielStockHandleDetailsVo">
        select id, company_id, materiel_id, materiel_code, materiel_model, materiel_name, handle_type, handle_status, temporary_status, purchase_code, handle_number, handle_by, handle_name, actual_time, handle_time from tab_materiel_stock_handle_details
    </sql>
	
    <select id="selectMaterielStockHandleDetailsList" parameterType="MaterielStockHandleDetails" resultMap="MaterielStockHandleDetailsResult">
        <include refid="selectMaterielStockHandleDetailsVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="materielId != null "> and materiel_id = #{materielId}</if>
             <if test="materielCode != null  and materielCode != '' "> and materiel_code = #{materielCode}</if>
             <if test="materielModel != null  and materielModel != '' "> and materiel_model = #{materielModel}</if>
             <if test="materielName != null  and materielName != '' "> and materiel_name = #{materielName}</if>
             <if test="handleType != null "> and handle_type = #{handleType}</if>
             <if test="handleStatus != null "> and handle_status = #{handleStatus}</if>
             <if test="temporaryStatus != null "> and temporary_status = #{temporaryStatus}</if>
             <if test="purchaseCode != null  and purchaseCode != '' "> and purchase_code = #{purchaseCode}</if>
             <if test="handleNumber != null "> and handle_number = #{handleNumber}</if>
             <if test="handleBy != null "> and handle_by = #{handleBy}</if>
             <if test="handleName != null  and handleName != '' "> and handle_name = #{handleName}</if>
             <if test="actualTime != null "> and actual_time = #{actualTime}</if>
             <if test="handleTime != null "> and handle_time = #{handleTime}</if>
         </where>
    </select>
    
    <select id="selectMaterielStockHandleDetailsById" parameterType="Integer" resultMap="MaterielStockHandleDetailsResult">
        <include refid="selectMaterielStockHandleDetailsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMaterielStockHandleDetails" parameterType="MaterielStockHandleDetails">
        insert into tab_materiel_stock_handle_details
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null  ">id,</if>
			<if test="companyId != null  ">company_id,</if>
			<if test="materielId != null  ">materiel_id,</if>
			<if test="materielCode != null  and materielCode != ''  ">materiel_code,</if>
			<if test="materielModel != null  and materielModel != ''  ">materiel_model,</if>
			<if test="materielName != null  and materielName != ''  ">materiel_name,</if>
			<if test="handleType != null  ">handle_type,</if>
			<if test="handleStatus != null  ">handle_status,</if>
			<if test="temporaryStatus != null  ">temporary_status,</if>
			<if test="purchaseCode != null  and purchaseCode != ''  ">purchase_code,</if>
			<if test="handleNumber != null  ">handle_number,</if>
			<if test="handleBy != null  ">handle_by,</if>
			<if test="handleName != null  and handleName != ''  ">handle_name,</if>
			<if test="actualTime != null  ">actual_time,</if>
			<if test="handleTime != null  ">handle_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null  ">#{id},</if>
			<if test="companyId != null  ">#{companyId},</if>
			<if test="materielId != null  ">#{materielId},</if>
			<if test="materielCode != null  and materielCode != ''  ">#{materielCode},</if>
			<if test="materielModel != null  and materielModel != ''  ">#{materielModel},</if>
			<if test="materielName != null  and materielName != ''  ">#{materielName},</if>
			<if test="handleType != null  ">#{handleType},</if>
			<if test="handleStatus != null  ">#{handleStatus},</if>
			<if test="temporaryStatus != null  ">#{temporaryStatus},</if>
			<if test="purchaseCode != null  and purchaseCode != ''  ">#{purchaseCode},</if>
			<if test="handleNumber != null  ">#{handleNumber},</if>
			<if test="handleBy != null  ">#{handleBy},</if>
			<if test="handleName != null  and handleName != ''  ">#{handleName},</if>
			<if test="actualTime != null  ">#{actualTime},</if>
			<if test="handleTime != null  ">#{handleTime},</if>
         </trim>
    </insert>
	 
    <update id="updateMaterielStockHandleDetails" parameterType="MaterielStockHandleDetails">
        update tab_materiel_stock_handle_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="materielId != null  ">materiel_id = #{materielId},</if>
            <if test="materielCode != null  and materielCode != ''  ">materiel_code = #{materielCode},</if>
            <if test="materielModel != null  and materielModel != ''  ">materiel_model = #{materielModel},</if>
            <if test="materielName != null  and materielName != ''  ">materiel_name = #{materielName},</if>
            <if test="handleType != null  ">handle_type = #{handleType},</if>
            <if test="handleStatus != null  ">handle_status = #{handleStatus},</if>
            <if test="temporaryStatus != null  ">temporary_status = #{temporaryStatus},</if>
            <if test="purchaseCode != null  and purchaseCode != ''  ">purchase_code = #{purchaseCode},</if>
            <if test="handleNumber != null  ">handle_number = #{handleNumber},</if>
            <if test="handleBy != null  ">handle_by = #{handleBy},</if>
            <if test="handleName != null  and handleName != ''  ">handle_name = #{handleName},</if>
            <if test="actualTime != null  ">actual_time = #{actualTime},</if>
            <if test="handleTime != null  ">handle_time = #{handleTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteMaterielStockHandleDetailsById" parameterType="Integer">
        delete from tab_materiel_stock_handle_details where id = #{id}
    </delete>
	
    <delete id="deleteMaterielStockHandleDetailsByIds" parameterType="String">
        delete from tab_materiel_stock_handle_details where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>