<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.erp.materielStock.mapper.MaterielStockMapper">
    
    <resultMap type="MaterielStock" id="MaterielStockResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="materielId"    column="materiel_id"    />
        <result property="materielCode"    column="materiel_code"    />
        <result property="materielModel"    column="materiel_model"    />
        <result property="materielName"    column="materiel_name"    />
        <result property="totalNumber"    column="total_number"    />
        <result property="goodNumber"    column="good_number"    />
        <result property="badNumber"    column="bad_number"    />
        <result property="scrapNumber"    column="scrap_number"    />
        <result property="createTime"    column="create_time"    />
        <result property="lastUpdate"    column="last_update"    />
        <result property="temporaryNumber"    column="temporary_number"    />
    </resultMap>
	
	<sql id="selectMaterielStockVo">
        select id, company_id, materiel_id, materiel_code, materiel_model, materiel_name, total_number, good_number, bad_number, scrap_number, create_time, last_update, temporary_number from tab_materiel_stock
    </sql>
	
    <select id="selectMaterielStockList" parameterType="MaterielStock" resultMap="MaterielStockResult">
        <include refid="selectMaterielStockVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="materielId != null "> and materiel_id = #{materielId}</if>
             <if test="materielCode != null  and materielCode != '' ">
                 and materiel_code like concat ('%',#{materielCode},'%')
             </if>
             <if test="materielModel != null  and materielModel != '' ">
                 and materiel_model like concat ('%',#{materielModel},'%')
             </if>
             <if test="materielName != null  and materielName != '' "> and materiel_name = #{materielName}</if>
             <if test="totalNumber != null "> and total_number = #{totalNumber}</if>
             <if test="goodNumber != null "> and good_number = #{goodNumber}</if>
             <if test="badNumber != null "> and bad_number = #{badNumber}</if>
             <if test="scrapNumber != null "> and scrap_number = #{scrapNumber}</if>
             <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                 AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
             </if>
             <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                 AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
             </if>
             <if test="lastUpdate != null "> and last_update = #{lastUpdate}</if>
             <if test="temporaryNumber != null "> and temporary_number = #{temporaryNumber}</if>
         </where>
    </select>
    
    <select id="selectMaterielStockById" parameterType="Integer" resultMap="MaterielStockResult">
        <include refid="selectMaterielStockVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMaterielStock" parameterType="MaterielStock" useGeneratedKeys="true" keyProperty="id">
        insert into tab_materiel_stock
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="materielId != null  ">materiel_id,</if>
			<if test="materielCode != null  and materielCode != ''  ">materiel_code,</if>
			<if test="materielModel != null  and materielModel != ''  ">materiel_model,</if>
			<if test="materielName != null  and materielName != ''  ">materiel_name,</if>
			<if test="totalNumber != null  ">total_number,</if>
			<if test="goodNumber != null  ">good_number,</if>
			<if test="badNumber != null  ">bad_number,</if>
			<if test="scrapNumber != null  ">scrap_number,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="lastUpdate != null  ">last_update,</if>
			<if test="temporaryNumber != null  ">temporary_number,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="materielId != null  ">#{materielId},</if>
			<if test="materielCode != null  and materielCode != ''  ">#{materielCode},</if>
			<if test="materielModel != null  and materielModel != ''  ">#{materielModel},</if>
			<if test="materielName != null  and materielName != ''  ">#{materielName},</if>
			<if test="totalNumber != null  ">#{totalNumber},</if>
			<if test="goodNumber != null  ">#{goodNumber},</if>
			<if test="badNumber != null  ">#{badNumber},</if>
			<if test="scrapNumber != null  ">#{scrapNumber},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="lastUpdate != null  ">#{lastUpdate},</if>
			<if test="temporaryNumber != null  ">#{temporaryNumber},</if>
         </trim>
    </insert>
	 
    <update id="updateMaterielStock" parameterType="MaterielStock">
        update tab_materiel_stock
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="materielId != null  ">materiel_id = #{materielId},</if>
            <if test="materielCode != null  and materielCode != ''  ">materiel_code = #{materielCode},</if>
            <if test="materielModel != null  and materielModel != ''  ">materiel_model = #{materielModel},</if>
            <if test="materielName != null  and materielName != ''  ">materiel_name = #{materielName},</if>
            <if test="totalNumber != null  ">total_number = #{totalNumber},</if>
            <if test="goodNumber != null  ">good_number = #{goodNumber},</if>
            <if test="badNumber != null  ">bad_number = #{badNumber},</if>
            <if test="scrapNumber != null  ">scrap_number = #{scrapNumber},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="lastUpdate != null  ">last_update = #{lastUpdate},</if>
            <if test="temporaryNumber != null  ">temporary_number = #{temporaryNumber},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deleteMaterielStockById" parameterType="Integer">
        delete from tab_materiel_stock where id = #{id}
    </delete>
	
    <delete id="deleteMaterielStockByIds" parameterType="String">
        delete from tab_materiel_stock where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <!--通过物料id查询物料库存信息-->
    <select id="selectMaterielStockByMaterielId"  parameterType="Integer" resultMap="MaterielStockResult">
        <include refid="selectMaterielStockVo"/>
        where materiel_id = #{materielId}
    </select>

    <!--通过物料编码和公司id查询物料库存信息-->
    <select id="selectMaterielStockByMatCodeAndComId" resultMap="MaterielStockResult">
        <include refid="selectMaterielStockVo"/>
        where materiel_code = #{materielCode} and company_id =#{companyId}
    </select>
</mapper>