<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.erp.partStockHandleDetails.mapper.PartStockHandleDetailsMapper">
    
    <resultMap type="PartStockHandleDetails" id="PartStockHandleDetailsResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="partId"    column="part_id"    />
        <result property="partCode"    column="part_code"    />
        <result property="partName"    column="part_name"    />
        <result property="handleType"    column="handle_type"    />
        <result property="handleStatus"    column="handle_status"    />
        <result property="handleNumber"    column="handle_number"    />
        <result property="handleBy"    column="handle_by"    />
        <result property="handleName"    column="handle_name"    />
        <result property="actualTime"    column="actual_time"    />
        <result property="handleTime"    column="handle_time"    />
    </resultMap>
	
	<sql id="selectPartStockHandleDetailsVo">
        select id, company_id, part_id, part_code, part_name, handle_type, handle_status, handle_number, handle_by, handle_name, actual_time, handle_time from tab_part_stock_handle_details
    </sql>
	
    <select id="selectPartStockHandleDetailsList" parameterType="PartStockHandleDetails" resultMap="PartStockHandleDetailsResult">
        <include refid="selectPartStockHandleDetailsVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="partId != null "> and part_id = #{partId}</if>
             <if test="partCode != null  and partCode != '' "> and part_code = #{partCode}</if>
             <if test="partName != null  and partName != '' "> and part_name = #{partName}</if>
             <if test="handleType != null "> and handle_type = #{handleType}</if>
             <if test="handleStatus != null "> and handle_status = #{handleStatus}</if>
             <if test="handleNumber != null "> and handle_number = #{handleNumber}</if>
             <if test="handleBy != null "> and handle_by = #{handleBy}</if>
             <if test="handleName != null  and handleName != '' "> and handle_name = #{handleName}</if>
             <if test="actualTime != null "> and actual_time = #{actualTime}</if>
             <if test="handleTime != null "> and handle_time = #{handleTime}</if>
         </where>
    </select>
    
    <select id="selectPartStockHandleDetailsById" parameterType="Integer" resultMap="PartStockHandleDetailsResult">
        <include refid="selectPartStockHandleDetailsVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertPartStockHandleDetails" parameterType="PartStockHandleDetails" useGeneratedKeys="true" keyProperty="id">
        insert into tab_part_stock_handle_details
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="partId != null  ">part_id,</if>
			<if test="partCode != null  and partCode != ''  ">part_code,</if>
			<if test="partName != null  and partName != ''  ">part_name,</if>
			<if test="handleType != null  ">handle_type,</if>
			<if test="handleStatus != null  ">handle_status,</if>
			<if test="handleNumber != null  ">handle_number,</if>
			<if test="handleBy != null  ">handle_by,</if>
			<if test="handleName != null  and handleName != ''  ">handle_name,</if>
			<if test="actualTime != null  ">actual_time,</if>
			<if test="handleTime != null  ">handle_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="partId != null  ">#{partId},</if>
			<if test="partCode != null  and partCode != ''  ">#{partCode},</if>
			<if test="partName != null  and partName != ''  ">#{partName},</if>
			<if test="handleType != null  ">#{handleType},</if>
			<if test="handleStatus != null  ">#{handleStatus},</if>
			<if test="handleNumber != null  ">#{handleNumber},</if>
			<if test="handleBy != null  ">#{handleBy},</if>
			<if test="handleName != null  and handleName != ''  ">#{handleName},</if>
			<if test="actualTime != null  ">#{actualTime},</if>
			<if test="handleTime != null  ">#{handleTime},</if>
         </trim>
    </insert>
	 
    <update id="updatePartStockHandleDetails" parameterType="PartStockHandleDetails">
        update tab_part_stock_handle_details
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="partId != null  ">part_id = #{partId},</if>
            <if test="partCode != null  and partCode != ''  ">part_code = #{partCode},</if>
            <if test="partName != null  and partName != ''  ">part_name = #{partName},</if>
            <if test="handleType != null  ">handle_type = #{handleType},</if>
            <if test="handleStatus != null  ">handle_status = #{handleStatus},</if>
            <if test="handleNumber != null  ">handle_number = #{handleNumber},</if>
            <if test="handleBy != null  ">handle_by = #{handleBy},</if>
            <if test="handleName != null  and handleName != ''  ">handle_name = #{handleName},</if>
            <if test="actualTime != null  ">actual_time = #{actualTime},</if>
            <if test="handleTime != null  ">handle_time = #{handleTime},</if>
        </trim>
        where id = #{id}
    </update>

	<delete id="deletePartStockHandleDetailsById" parameterType="Integer">
        delete from tab_part_stock_handle_details where id = #{id}
    </delete>
	
    <delete id="deletePartStockHandleDetailsByIds" parameterType="String">
        delete from tab_part_stock_handle_details where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>