<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.erp.stockHandle.mapper.StockHandleMapper">
    
    <resultMap type="StockHandle" id="StockHandleResult">
        <result property="id"    column="id"    />
        <result property="companyId"    column="company_id"    />
        <result property="handleCode"    column="handle_code"    />
        <result property="handleType"    column="handle_type"    />
        <result property="createId"    column="create_id"    />
        <result property="createName"    column="create_name"    />
        <result property="createTime"    column="create_time"    />
        <result property="actualTime"    column="actual_time"    />
        <result property="delFlag"    column="del_flag"    />
        <result property="remark"    column="remark"    />
    </resultMap>
	
	<sql id="selectStockHandleVo">
        select id, company_id, handle_code, handle_type, create_id, create_name, create_time, actual_time, del_flag,remark from tab_stock_handle
    </sql>
	
    <select id="selectStockHandleList" parameterType="StockHandle" resultMap="StockHandleResult">
        <include refid="selectStockHandleVo"/>
        <where>
            del_flag = '0'
            <if test="id != null "> and id = #{id}</if>
             <if test="companyId != null "> and company_id = #{companyId}</if>
             <if test="handleCode != null  and handleCode != '' "> and handle_code = #{handleCode}</if>
             <if test="handleType != null  and handleType != '' "> and handle_type = #{handleType}</if>
             <if test="createId != null "> and create_id = #{createId}</if>
             <if test="createName != null  and createName != '' "> and create_name = #{createName}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
            </if>
             <if test="actualTime != null "> and actual_time = #{actualTime}</if>
         </where>
    </select>
    
    <select id="selectStockHandleById" parameterType="Integer" resultMap="StockHandleResult">
        <include refid="selectStockHandleVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertStockHandle" parameterType="StockHandle" useGeneratedKeys="true" keyProperty="id">
        insert into tab_stock_handle
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">company_id,</if>
			<if test="handleCode != null  and handleCode != ''  ">handle_code,</if>
			<if test="handleType != null  and handleType != ''  ">handle_type,</if>
			<if test="createId != null  ">create_id,</if>
			<if test="createName != null  and createName != ''  ">create_name,</if>
			<if test="createTime != null  ">create_time,</if>
			<if test="actualTime != null  ">actual_time,</if>
			<if test="delFlag != null  and delFlag != ''  ">del_flag,</if>
            <if test="remark != null  and remark != ''  ">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="companyId != null  ">#{companyId},</if>
			<if test="handleCode != null  and handleCode != ''  ">#{handleCode},</if>
			<if test="handleType != null  and handleType != ''  ">#{handleType},</if>
			<if test="createId != null  ">#{createId},</if>
			<if test="createName != null  and createName != ''  ">#{createName},</if>
			<if test="createTime != null  ">#{createTime},</if>
			<if test="actualTime != null  ">#{actualTime},</if>
			<if test="delFlag != null  and delFlag != ''  ">#{delFlag},</if>
            <if test="remark != null  and remark != ''  ">#{remark},</if>
         </trim>
    </insert>
	 
    <update id="updateStockHandle" parameterType="StockHandle">
        update tab_stock_handle
        <trim prefix="SET" suffixOverrides=",">
            <if test="companyId != null  ">company_id = #{companyId},</if>
            <if test="handleCode != null  and handleCode != ''  ">handle_code = #{handleCode},</if>
            <if test="handleType != null  and handleType != ''  ">handle_type = #{handleType},</if>
            <if test="createId != null  ">create_id = #{createId},</if>
            <if test="createName != null  and createName != ''  ">create_name = #{createName},</if>
            <if test="createTime != null  ">create_time = #{createTime},</if>
            <if test="actualTime != null  ">actual_time = #{actualTime},</if>
            <if test="delFlag != null  and delFlag != ''  ">del_flag = #{delFlag},</if>
            <if test="remark != null  and remark != ''  ">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <!--作废库存管理主表-->
	<delete id="deleteStockHandleById" parameterType="Integer">
        update tab_stock_handle set del_flag = '1' where id = #{id}
    </delete>
	
    <delete id="deleteStockHandleByIds" parameterType="String">
        delete from tab_stock_handle where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>