<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-productIntoStockDetails-edit" th:object="${productIntoStockDetails}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品主键ID：</label>
				<div class="col-sm-8">
					<input id="productId" name="productId" th:field="*{productId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品编码：</label>
				<div class="col-sm-8">
					<input id="productCode" name="productCode" th:field="*{productCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品型号：</label>
				<div class="col-sm-8">
					<input id="productModel" name="productModel" th:field="*{productModel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品名称：</label>
				<div class="col-sm-8">
					<input id="productName" name="productName" th:field="*{productName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">客户编码(自填)：</label>
				<div class="col-sm-8">
					<input id="customerCode" name="customerCode" th:field="*{customerCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入库数量：</label>
				<div class="col-sm-8">
					<input id="intoNumber" name="intoNumber" th:field="*{intoNumber}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">产品入库主键ID：</label>
				<div class="col-sm-8">
					<input id="intoId" name="intoId" th:field="*{intoId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入库单号：</label>
				<div class="col-sm-8">
					<input id="intoCode" name="intoCode" th:field="*{intoCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">退货单号：</label>
				<div class="col-sm-8">
					<input id="backCode" name="backCode" th:field="*{backCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">入库时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">结款状态(0、未结款，1、已结款)：</label>
				<div class="col-sm-8">
					<input id="paymentStatus" name="paymentStatus" th:field="*{paymentStatus}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "erp/productIntoStockDetails";
		$("#form-productIntoStockDetails-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-productIntoStockDetails-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
