<!DOCTYPE HTML>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
     <div class="container-div">
		<div class="row">
			<div class="col-sm-6">
				<div class="col-sm-12 select-table table-striped">
					<div class="ibox-title">
						<h5>客户退货记录</h5>
					</div>
					<input type="hidden" name="productId" id="productId" th:value="${productId}">
					<table id="bootstrap-table" data-mobile-responsive="true"></table>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="col-sm-12 select-table table-striped">
					<div class="ibox-title">
						<h5>生产入库记录</h5>
					</div>
					<table id="bootstrap-table1" data-mobile-responsive="true"></table>
				</div>
			</div>
		</div>
	</div>
    <div th:include="include :: footer"></div>
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('erp:productIntoStockDetails:edit')}]];
        var removeFlag = [[${@permission.hasPermi('erp:productIntoStockDetails:remove')}]];
        var prefix = ctx + "erp/productIntoStockDetails";
        var productId = $("#productId").val();
        $(function() {
            // 客户产品退货数据初始化
            var options = {
                // url: prefix + "/list",
                url: prefix + "/listByProId?productId="+productId,
                modalName: "产品入库清单",
                search: false,
                showExport: false,
                showSearch:false,
                showRefresh:false,
                showColumns:false,
                showToggle:false,
                columns: [
				{
					field : 'id', 
					title : '产品入库清单主键ID',
					visible: false
				},
				{
					field : 'customerName',
					title : '客户名称',
				},
				{
					field : 'customerCode',
					title : '客户编码',
					sortable: true
				},
				{
					field : 'productCode', 
					title : '产品编码',
					sortable: true
				},
				{
					field : 'intoNumber', 
					title : '退货数量',
					sortable: true
				},
				{
					field : 'intoCode', 
					title : '退货单号',
					sortable: true
				},
				{
                    field : 'intoName',
                    title : '姓名',
				},
				{
					field : 'createTime', 
					title : '入库时间',
					sortable: true
				}]
            };
            $.table.init(options);

            // 车间生产入库数据初始化产品入库
            var options1 = {
                // url: prefix + "/list",
                url: "/erp/lineIntoStockDetails/listByDetId?intoType=0&detId="+productId,
                modalName: "产品入库清单",
                search: false,
                showExport: false,
                showSearch:false,
                showRefresh:false,
                showColumns:false,
                showToggle:false,
                columns: [
                    {
                        field : 'id',
                        title : '产品入库清单主键ID',
                        visible: false
                    },
                    {
                        field : 'lineName',
                        title : '产线',
                    },
                    {
                        field : 'detIntoCode',
                        title : '编码',
                        sortable: true
                    },
                    {
                        field : 'detIntoModel',
                        title : '型号',
                        sortable: true
                    },
                    {
                        field : 'detIntoNum',
                        title : '入库数量',
                        sortable: true
                    },
                    {
                        field : 'intoCode',
                        title : '入库单号',
                        sortable: true
                    },
                    {
                        field : 'intoName',
                        title : '姓名',
                    },
                    {
                        field : 'createTime',
                        title : '入库时间',
                        sortable: true
                    }]
            };
            initTable1(options1);
        });
        // 加载生产入库数据
		function initTable1(options) {
            $.table._option = options;
            $.table._params = $.common.isEmpty(options.queryParams) ? $.table.queryParams : options.queryParams;
            _sortOrder = $.common.isEmpty(options.sortOrder) ? "asc" : options.sortOrder;
            _sortName = $.common.isEmpty(options.sortName) ? "" : options.sortName;
            _pageSize = $.common.isEmpty(options.pageSize) ? 10 : options.pageSize;
            _striped = $.common.isEmpty(options.striped) ? false : options.striped;
            _escape = $.common.isEmpty(options.escape) ? false : options.escape;
            _showFooter = $.common.isEmpty(options.showFooter) ? false : options.showFooter;
            _fixedColumns = $.common.isEmpty(options.fixedColumns) ? false : options.fixedColumns;
            _fixedNumber = $.common.isEmpty(options.fixedNumber) ? 0 : options.fixedNumber;
            _rightFixedColumns = $.common.isEmpty(options.rightFixedColumns) ? false : options.rightFixedColumns;
            _rightFixedNumber = $.common.isEmpty(options.rightFixedNumber) ? 0 : options.rightFixedNumber;
            $('#bootstrap-table1').bootstrapTable({
                url: options.url,                                   // 请求后台的URL（*）
                contentType: "application/x-www-form-urlencoded",   // 编码类型
                method: 'post',                                     // 请求方式（*）
                cache: false,                                       // 是否使用缓存
                striped: _striped,                                  // 是否显示行间隔色
                sortable: true,                                     // 是否启用排序
                sortStable: true,                                   // 设置为 true 将获得稳定的排序
                sortName: _sortName,                                // 排序列名称
                sortOrder: _sortOrder,                              // 排序方式  asc 或者 desc
                pagination: $.common.visible(options.pagination),   // 是否显示分页（*）
                pageNumber: 1,                                      // 初始化加载第一页，默认第一页
                pageSize: _pageSize,                                // 每页的记录行数（*）
                pageList: [10, 25, 50],                             // 可供选择的每页的行数（*）
                escape: _escape,                                    // 转义HTML字符串
                showFooter: _showFooter,                            // 是否显示表尾
                iconSize: 'outline',                                // 图标大小：undefined默认的按钮尺寸 xs超小按钮sm小按钮lg大按钮
                toolbar: '#toolbar',                                // 指定工作栏
                sidePagination: "server",                           // 启用服务端分页
                search: $.common.visible(options.search),           // 是否显示搜索框功能
                showSearch: $.common.visible(options.showSearch),   // 是否显示检索信息
                showRefresh: $.common.visible(options.showRefresh), // 是否显示刷新按钮
                showColumns: $.common.visible(options.showColumns), // 是否显示隐藏某列下拉框
                showToggle: $.common.visible(options.showToggle),   // 是否显示详细视图和列表视图的切换按钮
                showExport: $.common.visible(options.showExport),   // 是否支持导出文件
                fixedColumns: _fixedColumns,                        // 是否启用冻结列（左侧）
                fixedNumber: _fixedNumber,                          // 列冻结的个数（左侧）
                rightFixedColumns: _rightFixedColumns,              // 是否启用冻结列（右侧）
                rightFixedNumber: _rightFixedNumber,                // 列冻结的个数（右侧）
                queryParams: $.table._params,                       // 传递参数（*）
                columns: options.columns,                           // 显示列信息（*）
                responseHandler: $.table.responseHandler,           // 在加载服务器发送来的数据之前处理函数
                onLoadSuccess: $.table.onLoadSuccess,               // 当所有数据被加载时触发处理函数
            });
        }

        function submitHandler() {
            $.modal.close();
            window.parent.$.table.refresh();
        }
    </script>
</body>
</html>