<!DOCTYPE HTML>
<html  lang="zh" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <form class="form-horizontal m" id="form-materielFeedDetails-edit" th:object="${materielFeedDetails}">
            <input id="id" name="id" th:field="*{id}"  type="hidden">
			<div class="form-group">	
				<label class="col-sm-3 control-label">物料发料主键ID：</label>
				<div class="col-sm-8">
					<input id="feedId" name="feedId" th:field="*{feedId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">类型标记(0、默认值物料，1、半成品)：</label>
				<div class="col-sm-8">
					<input id="feedType" name="feedType" th:field="*{feedType}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">物料/半成品id：</label>
				<div class="col-sm-8">
					<input id="feedDetailId" name="feedDetailId" th:field="*{feedDetailId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">物料/半成品编码：</label>
				<div class="col-sm-8">
					<input id="feedDetailCode" name="feedDetailCode" th:field="*{feedDetailCode}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">物料/半成品型号：</label>
				<div class="col-sm-8">
					<input id="feedDetailModel" name="feedDetailModel" th:field="*{feedDetailModel}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">物料/半成品名称：</label>
				<div class="col-sm-8">
					<input id="feedDetailName" name="feedDetailName" th:field="*{feedDetailName}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单次数量：</label>
				<div class="col-sm-8">
					<input id="oneNum" name="oneNum" th:field="*{oneNum}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">单价(含税)：</label>
				<div class="col-sm-8">
					<input id="price" name="price" th:field="*{price}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">总价：</label>
				<div class="col-sm-8">
					<input id="totalPrice" name="totalPrice" th:field="*{totalPrice}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建者：</label>
				<div class="col-sm-8">
					<input id="createId" name="createId" th:field="*{createId}" class="form-control" type="text">
				</div>
			</div>
			<div class="form-group">	
				<label class="col-sm-3 control-label">创建时间：</label>
				<div class="col-sm-8">
					<input id="createTime" name="createTime" th:field="*{createTime}" class="form-control" type="text">
				</div>
			</div>
		</form>
    </div>
    <div th:include="include::footer"></div>
    <script type="text/javascript">
		var prefix = ctx + "erp/materielFeedDetails";
		$("#form-materielFeedDetails-edit").validate({
			rules:{
				xxxx:{
					required:true,
				},
			}
		});
		
		function submitHandler() {
	        if ($.validate.form()) {
	            $.operate.save(prefix + "/edit", $('#form-materielFeedDetails-edit').serialize());
	        }
	    }
	</script>
</body>
</html>
